/*MOBILE*/
.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 1rem;
  }
  .grid > div {
    background: #EDE7F6;
    padding: 1.5rem;
    border-radius: 1rem;
  }

  body {
    margin: 2rem;
    font: 12px system-ui;
  }
/*LARGER SCREENS*/
  @media only screen and (min-width: 640px) {
    .grid {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1.5rem;
    }
    .grid > div {
      padding: 20px;
    }
  }